{% extends 'main.html' %}

{% block kraft_him %}
<td style="background:#000000;padding:10px;"><!-- <body> --><div id="nativeroll_video_cont" style="display:none;"></div><p><span style="color:#8B4513;"><span style="font-size:16px;">Персональный крафт медпрепаратов особого назначения</span></span></p>

<table border="1">
 <tr>
 <td style="width: 100px;">
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/i20242.png"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/ehks-kamennogo_kornja.png"><span style="color:orange">Зкстракт Каменного корня</span></a></p>
 </td>
 <td style="width: 150px;">
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Каменный корень</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Водка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Я-соIа</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Колба</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ступка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/i20243.png" style="width: 90px; height: 36px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/ehks-sejmura.png"><span style="color:orange">Экстракт Саймура</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Kaa beer</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Колба</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ганжа</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Цветок Саймур</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ступка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/i20244.png" style="width: 90px; height: 36px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/ehks-nepentesa.png"><span style="color:orange">Экстракт Непентеса</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Колба</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Цветок Непентес</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Вецита</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Грязная вода</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ступка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/i20245.png" style="width: 90px; height: 36px;"></span></span></p>

 <p style="text-align: center;"><a href="http://vendetta-unit.at.ua/ehks-rzhavykh_cvetov.png"><span style="color:orange">Экстракт Ржавых цветов</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Колба</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ржавые цветы</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Чистая вода</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Мыло</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ступка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/i20246.png" style="width: 90px; height: 36px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/smeshannyj_ehkst..png"><span style="color:orange">Смешанный экстракт</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Цветок Сеймур</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ржавые цветы</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Спирт</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Колба</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Ступка</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">160</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17043.png" style="width: 62px; height: 25px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/nastojka_jakhe.png"><span style="color:orange">Настойка "Яхе"</span></a></p>
 </td>
 <td style="width: 210px;">
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Пустые банки</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Экстракт Ржавых цветов</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Набор варщика/Набор варщика <span style="font-size:11px;">PRO</span></span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17044.png" style="width: 62px; height: 25px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/khoroshaja_vstrjaska.png"><span style="color:orange">Хорошая встряска</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Пустые банки</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Экстракт Ржавых цветов</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика <span style="font-size:11px;">PRO</span></span></span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">140</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17045.png" style="width: 62px; height: 25px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/marcefal.png"><span style="color:orange">Марцефаль</span></a></p>
 </td>
 <td>
 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Пустые банки</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Смешанный экстракт</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика&nbsp;<span style="font-size:11px;">PRO</span></span></span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">160</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17046.png" style="width: 62px; height: 25px;"></span></span></p>

 <p><a href=" http://vendetta-unit.at.ua/chernoe_maslo.png"><span style="color:orange">Черное масло</span></a></p>
 </td>
 <td>
 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Пустые банки</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Экстракт Напентеса</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика&nbsp;<span style="font-size:11px;">PRO</span></span></span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">185</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17047.png" style="width: 60px; height: 24px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/romovyj_grib.png"><span style="color:orange">Ромовый Гриб</span></a></p>
 </td>
 <td>
 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Пустые банки</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Экстракт Саймура</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика&nbsp;<span style="font-size:11px;">PRO</span></span></span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">210</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17048.png" style="width: 55px; height: 22px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/nejromant.png"><span style="color:orange">Нейромант</span></a></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">Шприц</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Стимулятор</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Я-cola</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Полиэтиленовый пакет</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Моток изоленты</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика&nbsp;<span style="font-size:11px;">PRO</span></span></span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">4</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">2</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">1</span></span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;"><span style="font-size:12px;">240</span></span></p>
 </td>
 </tr>
 <tr>
 <td>
 <p style="text-align: center;"><span style="color:#8B4513;"><span style="font-size:12px;"><img alt="" src="/m17049.png" style="width: 55px; height: 22px;"></span></span></p>

 <p style="text-align: center;"><a href=" http://vendetta-unit.at.ua/psikho.png"><span style="color:orange">Психо</span></a></p>
 </td>
 <td>
 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Шприц</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Экстрапак</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 19.2000007629395px;">Kaa beer</span></span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Моток изоленты</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Порошок</span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;"><span style="line-height: 20.7999992370605px;">Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика</span><span style="line-height: 20.7999992370605px;">/Набор&nbsp;</span><span style="line-height: 20.7999992370605px;">варщика&nbsp;<span style="font-size:11px;">PRO</span></span></span></span></p>

 <p style="line-height: 20.7999992370605px;"><span style="color:#8B4513;"><span style="font-size:12px;">Навык "Доктор"</span></span></p>
 </td>
 <td>
 <p><span style="color:#8B4513;">1</span></p>

 <p><span style="color:#8B4513;">1</span></p>

 <p><span style="color:#8B4513;">2</span></p>

 <p><span style="color:#8B4513;">1</span></p>

 <p><span style="color:#8B4513;">1</span></p>

 <p>&nbsp;</p>

 <p><span style="color:#8B4513;">260</span></p>
 </td>
 </tr>
 </tbody>
</table>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">Столы для производства медпрепаратов в следующих точках:</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">1) Стол для крафта №1: х31, у965;</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">2) Стол для крафта №2: х1009, у79;</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">3) Стол для крафта №3: х63, у1559;</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">4) Стол для крафта №3: х1972, у1142.</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size:12px;"><span style="font-family: Verdana, sans-serif;">На столе с номером один можно приготовить самые простые, а на столе под номером три – все возможные медпрепараты.</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p>

<p><span style="color:#8B4513;"><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"><span style="font-size:12px;">Приобрести часть расходных материалов для создания химии можно у Стеклотарщика на Свалке и у Феклы-Травницы в д. Прохоровка. Некоторые ингредиенты для приготовления еды можно приобрести в любом Мак-Ящере у продавца.</span></span></span><span style="font-size: 8.5pt; font-family: Verdana, sans-serif;"></span></p><!-- </body> --></td>
{% endblock %}