{% extends 'main.html' %}

{% block ob_harakteristiki %}
<div class="headtext">VI. Характеристики.</div>
<p><i>Сила</i> – влияет на количество очков жизни, на шанс критического урона в ближнем бою, на размер рюкзака персонажа и на дальность броска гранат.
<br><br>
<i>Выносливость</i> – влияет на количество очков жизни, размер рюкзака персонажа, длительность бега.
<br><br>
<i>Удача</i> – cущественно влияет на вероятность нанесения критического удара.
<br><br>
<i>Восприятие</i> – оказывает сильное влияние на точность стрельбы на дальних дистанциях и на шанс уворота.
<br><br>
<i>Ловкость</i> – влияет на скорость производимых действий, уменьшает паузы между выстрелами, перезарядками и использованием различных предметов. Существенно влияет на шанс увернуться от атаки.
Также оказывает влияние на уворот.
<br><br>
<i>Интеллект</i> – существенно влияет на наносимый персонажем урон, влияет на количество очков боевых и мирных умений, которые персонаж получает за уровень. При высоком интеллекте ваше оружие будет меньше ломаться.
<br><br>
При выборе характеристик персонажа, Вам прежде всего стоит учитывать боевое умение, то есть вид оружия, которым вы собираетесь овладеть.
&laquo;Энергетическое&raquo; и &laquo;Легкое&raquo; оружие требуют от 3 до 5 <i>Силы</i>, &laquo;Тяжелое&raquo; 4-6 <i>Силы</i>, а оружие &laquo;Ближнего боя&raquo; - от 3 до 8 очков параметра <i>Сила</i>.
Каждое недостающее очко <i>Силы</i> при использовании оружия прибавит вам дополнительные 20% к шансу промаха.
<br><br>
Далее следует учитывать различные бонусы характеристик.
<br><br><br>
<b>Бонусы за комбинации характеристик</b>:</p>
<ul>
<li>&laquo;Восприятие&raquo; + &laquo;Ловкость&raquo;, равные в сумме 15-16 добавляют 4% к шансу на уворот.
Больше либо равно 17 - добавляют 12% к шансу на уворот.<br></li>
<li>&laquo;Удача&raquo; + &laquo;Интеллект&raquo;, равные в сумме 15-16 добавляют 3% к вероятности нанести критический урон, больше либо равно 17 - 8%.<br></li>
<li>&laquo;Выносливость&raquo; + &laquo;Сила&raquo;, в сумме меньше либо равные 10 дают 4 очка здоровья на уровень, 11-14 - +5 очков здоровья, 15-16 - +7 очков здоровья, более 17 - дают +8 очков здоровья на уровень.<br></li>
<li>&laquo;Восприятие&raquo; + &laquo;Сила&raquo;, в сумме равные 15-16 дают +4% шанс нанести травму противнику, 17 и больше - +6%.<br></li>
</ul>
<p>
<br>
<b>Бонус при использовании патронов 12 калибра</b>: +5% к величине критического урона на ближней дистанции.

<br><br>
<b>Бонус для оружия ближнего боя</b>: за каждое очко &laquo;Силы&raquo; выше требования оружия персонаж получает +2% к шансу критического урона и +2 единицы пробоя брони.

<br><br>
При сражении происходит сравнение нескольких параметров, после чего происходит перерасчёт &laquo;врожденных производных характеристик&raquo;.
Например, при сравнении параметров &laquo;Восприятие&raquo; за каждую единицу разницы шанс увернуться
у противника с более низким параметром снижается на 4%. После сравнений &laquo;Удачи&raquo; за каждую единицу разницы
шанс на критический урон снижается на 4%. После сравнений &laquo;Интеллекта&raquo; за каждую единицу разницы наносимый урон будет снижаться на 3%.

</p>
{% endblock %}