{% extends 'main.html' %}

{% block ob_kreditu %}
<div class="headtext">XII. Кредитный магазин.</div>
<p>Платная составляющая игры U.N.I.T. Online – покупка разнообразных услуг, товаров и игровых денег за Кредиты.
Кредиты можно покупать как за реальные деньги, так и за игровые, используя биржу кредитов.
Поэтому в игре не существует товаров, которые невозможно купить игроку, не платящему реальные деньги.
<br><br>
В правом верхнем углу экрана находится &laquo;Кредитный магазин&raquo;, где сосредоточены все подобные услуги.
</p>

<ul>
    <li>На вкладке &laquo;Управление счётом&raquo; можно увидеть информацию об активированных услугах, о статусе своего аккаунта, а также пополнить кредитный счет за реальные деньги.<br><br></li>
    <li>На вкладке &laquo;Аккаунты&raquo; игроку предлагается купить один из наборов услуг, облегчающих жизнь, синхронизированных между собой по времени действия.<br><br></li>
    <li>На вкладке &laquo;Услуги и возможности&raquo; можно активировать разнообразные услуги, как входящие в аккаунты, так и уникальные. Внимание! При покупке двух одинаковых услуг – их действие не складывается.<br><br></li>
    <li>Вкладка &laquo;Магазин&raquo; предлагает самые интересные покупки за кредиты. Здесь можно покупать части и комплекты брони, оружие, амуницию, деньги, перераспределять характеристики и навыки, менять внешний вид персонажа, а также отправлять подарки другим персонажам.<br><br></li>
</ul>
{% endblock %}
