{% extends 'main.html' %}

{% block ob_pervueshagi %}
<div class="headtext">IX. В игре. Первые шаги.</div>
<p>Пройдя обучающий квест и выбравшись на поверхность Нижнеатомска, прежде всего, обратите внимание на игровые настройки.
Они позволят быстрее разобраться в управлении и настроить его удобно под себя.
<br><br>
Самая первая горячая клавиша – &laquo;Режим наведения на цель&raquo; – <a>Ctrl</a>.
<br><br>
Нет необходимости каждый раз наводить на персонажа или моба курсор мыши, когда Вы хотите его выделить.
Просто зажмите <a>Ctrl</a> и сделайте клик левой кнопкой мыши рядом с объектом.
Если это противник, и у Вас включен &laquo;Режим Боя&raquo;, то при нажатии кнопки &laquo;Разговор/атака&raquo; – <a>Space</a> (пробел) Вы сразу же начнете атаковать цель.
<br><br>
Карта игры откроется нажатием <a>М</a> (англ.) на клавиатуре.
<br><br>
&laquo;Биржа труда&raquo; – перечень доступных квестов, откроется нажатием <a>L</a>.
<br><br>
Внимательно следите за боевыми и мирными умениями.
Они будут со временем распределяться в зависимости от Ваших действий в игре.
Пока у Вас есть свободные очки умений – используйте ту линейку оружия (энергетическое, легкое, тяжелое, ближний бой),
которую вы решили прокачивать. То же самое и с мирными умениями.
<br><br>
Вы с легкостью найдёте площадь 201 Торговца (х803:y807) – основная площадь города, где постоянно собираются торговцы, ремонтники, доктора и просто скучающие высокоуровневые игроки, у которых можно попросить совета.
<br><br>
Даже если Вы не ошиблись при выборе статов во время прокачки персонажа,
может произойти ребалансировка при очередном обновлении - бонусы статов и их влияние могут измениться.
Возможно, у Вас просто появится желание переделать персонажа из-за недовольства тем или иным набором характеристик или умений.
Вам не придётся создавать нового. В первом случае Администрацией же будут подарены бесплатные 2-3 стата для перевыбора.
(Также бесплатный перевыбор 2-3 статов часто дарят на Новый Год и День Рождения Проекта)
<br><br>
Также в перевыборе статов и сбросе умений вам помогут квесты:
</p>

<ul>
    <li>5-ый уровень – &laquo;Генетическая модификация&raquo; – пройдя квест, Вы сможете бесплатно перераскинуть две характеристики.</li>
    <li>10-ый уровень – &laquo;Дикий остров&raquo; – пройдя квест, Вы сможете бесплатно перераскинуть две характеристики.</li>
    <li>3-ий уровень – &laquo;Тестирование&raquo; – пройдя квест, Вы сможете сбросить 25 очков умений.</li>
    <li>10-ый уровень – &laquo;ИБИ на острове&raquo; – пройдя квест, Вы сможете сбросить 25 очков умений.</li>
</ul>
{% endblock %}