{% extends 'main.html' %}

{% block ob_perki %}
<div class="headtext">VIII. Перки.</div>
<p>Новый перк в U.N.I.T. Вы можете выбирать при получении каждого третьего уровня. При создании персонажа (на 0 уровне) и далее на 3-ем, 6, 9, 12, 15, 18, 21.
<br><br>
<b>ВАЖНО</b>: На выбор перка дается 2 уровня, после открытия возможности выбора. Если Вы не выбрали перк и докачались до получения следующего перка – предыдущая Ваша возможность выбора сгорит.

<br><br>
<b>Стартовые перки</b>:</p>
<ul>
    <li>&laquo;Ловкач&raquo;<br><br>При выполнении мирных действий (перезарядка, лечение и т.п.) считается, что ловкость равна 10. Не влияет на уворот и скорость стрельбы.<br><br></li>
    <li>&laquo;Гуттаперчевый&raquo;<br><br>Увеличивает вероятность уворота на 6%. Необходим для получения на 12-м уровне перка &laquo;Сверхрефлексы&raquo;.<br><br></li>
    <li>&laquo;Сильная спина&raquo;<br><br>+100кг к максимальному переносимому весу. Необходим для получения на 12-м уровне перка &laquo;Тяжелоатлет&raquo;.<br><br></li>
    <li>&laquo;Регенерация&raquo;<br><br>Ваш организм восстанавливается с огромной скоростью! При количестве очков здоровья меньше 50% – восстановление идет в 8 раз быстрее, при количестве ОЗ – 50% и больше – в 2 раза быстрее.<br><br></li>
</ul>

<p><br><b>3-ий уровень</b>:</p>

<ul>
    <li>&laquo;Живучий&raquo;<br><br>Когда у Вас остаётся 20% здоровья – Вам не могут нанести критическое попадание.<br><br></li>
    <li>&laquo;Метаболизм&raquo;<br><br>+20% к эффекту химии восстанавливающей очки здоровья.<br><br></li>
</ul>

<p><br><b>6-ой уровень</b>:</p>

<ul>
    <li>&laquo;Призвание: доктор&raquo;<br><br>Умение доктор +30, шанс получения травмы -25%.<br><br></li>
    <li>&laquo;Призвание: торговец&raquo;<br><br>Умение торговец +30, максимальный переносимый вес +50кг.<br><br></li>
    <li>&laquo;Призвание: мастер&raquo;<br><br>Умение ремонт +30, вероятность поломки оружия -20%.<br><br></li>
</ul>

<p><br><b>9-ый уровень</b>:</p>

<ul>
    <li>&laquo;Анатомия&raquo;<br><br>Перк повышает вероятность критического урона на 5%.<br><br></li>
    <li>&laquo;Панцирь&raquo;<br><br>Все виды сопротивлений +10ед. Необходим для получения на 12-м уровне перка &laquo;Подкожная броня&raquo;.<br><br></li>
</ul>

<p><br><b>12-ый уровень</b>:</p>

<ul>
    <li>&laquo;Озарение: выносливость&raquo;<br><br><i>Выносливость</i> +1.<br><br></li>
    <li>&laquo;Озарение: ловкость&raquo;<br><br><i>Ловкость</i> +1.<br><br></li>
    <li>&laquo;Пятилистник&raquo;<br><br><i>Удача</i> +1.<br><br></li>
    <li>&laquo;Подкожная броня&raquo;<br><br>+12 ко всем значениям сопротивлений.<br><br></li>
    <li>&laquo;Травматолог&raquo;<br><br>Вероятность нанесения травмы увеличена в 2 раза. Игнорирует эффект &laquo;иммунитет к травмам&raquo; у цели.<br><br></li>
    <li>&laquo;Сверхрефлексы&raquo;<br><br>+6% к вероятности уворота.<br><br></li>
    <li>&laquo;Тяжелоатлет&raquo;<br><br>+150кг к максимально переносимому весу.<br><br></li>
</ul>

<p><br><b>15-ый уровень</b>:</p>

<ul>
    <li>&laquo;Дрессировщик&raquo;<br><br>Ваш питомец выносливее и эффективнее атакует. +25% к очкам здоровья питомца и +25% повреждениям от его атак.<br><br></li>
    <li>&laquo;Гренадёр&raquo;<br><br>Бонус 20% к урону от гранат и мин.<br><br></li>
    <li>&laquo;Вестник смерти&raquo;<br><br>5% вероятность нанести х3,5 критический урон с оптимальной дистанции.<br><br></li>
    <li>&laquo;Спецподготовка&raquo;<br><br>+10% ко всему некритическому урону.<br><br></li>
</ul>
{% endblock %}