{% extends 'main.html' %}

{% block ob_shmot %}
<div class="headtext">X. Амуниция, вооружение, боеприпасы, медикаменты и пр.</div>
<p>Приобрести амуницию и вооружение можно у игровых торговцев НПС за игровую валюту - рубль.
<br><br>
В здании мэрии Нижнеатомска, недалеко от Ветерана Штэца расположен автомат для продажи Амуниции, вооружения, боеприпасов, медикаментов и пр. за Наградные Жетоны.
Оружие, купленное за Наградные Жетоны, не может быть передано другому игроку.
<br><br>
Вы можете приобрести вещи в кредитном магазине за кредиты.
Все вещи, помеченные значком &laquo;+&raquo;, требуют для использования на 1 уровень персонажа меньше, чем у стандартного снаряжения и вооружения,
но имеют идентичные боевые характеристики. Также у предметов из кредитного магазина более низкие требования по боевому умению и более дешевый ремонт.
Вещи, помеченные значком &laquo;+&raquo; нельзя передать другому игроку.
<br><br>
Также Вы можете купить вещи, боеприпасы, амуницию у других игроков на торговой площади у 201 торговца или же, используя раздел форума <a href="http://forum.unit-online.ru/forum/1" target="_blank">&laquo;Торговля&raquo;</a>.
</p>
{% endblock %}