{% extends 'main.html' %}

{% block ob_umenia %}
<div class="headtext">VII. Умения.</div>
<p>Умения персонажа делятся на <i>Боевые</i> и <i>Мирные</i>. Выбор приоритетных умений у персонажа означает их ускоренный рост.

<br><br>
<b>Бонус за <i>боевые</i> умения</b>: каждое оружие требует определенное количество очков своего навыка.
За превышение этого требования начисляется бонус к точности.
При превышении требования на 50 и более очков - бонус к точности увеличивается всё менее значительно.

<br><br>
<b><i>Боевые</i> умения</b>:</p>
<ul>
    <li><b>Ближний бой</b><br><br>Определяет степень владения холодным оружием. Влияет на вероятность попадания в ближнем бою.<br><br></li>
    <li><b>Лёгкое оружие</b><br><br>Определяет степень владения лёгким огнестрельным оружием (автоматы, пистолеты, винтовки и т.п.). Влияет на вероятность попадания при стрельбе.<br><br></li>
    <li><b>Тяжёлое оружие</b><br><br>Определяет степень владения тяжёлым оружием (пулемёты,  дробовики, крупнокалиберные винтовки и т.п.). Влияет на вероятность попадания при стрельбе.<br><br></li>
    <li><b>Энергетическое оружие</b><br><br>Определяет степень владения энергетическим оружием (лазерное и плазменное оружие). Влияет на вероятность попадания при использовании энергетического оружия.<br><br></li>
</ul>

<p><br>
<b><i>Мирные</i> умения</b>:</p>
<ul>
    <li><b>Доктор</b><br><br>Влияет на скорость лечения травмы. Влияет на количество используемых травмопаков при лечении травмы. Разница у умелого и начинающего доктора может составлять значительную сумму. Умение так же позволяет использовать лечащее оружие и создавать особые медикаменты.<br><br></li>
    <li><b>Торговец</b><br><br>Влияет на размер скидки при покупке предметов у NPC. В суровом постапе стоимость вещей высока, и только опытные торговцы могут добиться для себя минимальной наценки на товар. Продажа вещей NPC осуществляется только по номиналу. Также опытный торговец сможет переносить больше товара: +1&nbsp;кг к максимальному переносимому весу за каждые 2&nbsp;ед. умения.<br><br></li>
    <li><b>Инженер</b><br><br>Влияет на количество запчастей, расходуемых при ремонте. Умелый ремонтник отремонтирует самое технологичное оружие за гораздо меньшую сумму. Инженер так же создает вещи и оружие, вешает на амуницию и вооружение тулкиты с повышенным шансом на успех.<br><br></li>
    <li><b>Добытчик</b><br><br>Влияет на количество добываемых ресурсов. Опытный добытчик получит больше полезных ископаемых с каждого месторождения. Также это умение требуется для приготовления еды.<br><br></li>
</ul>
<br>
<p>Очки умений Вы получаете с каждым новым уровнем, а распределяются они автоматически в зависимости от Ваших действий в игре.
<br><br>
Приоритетные умения увеличиваются быстрее остальных. Максимальное количество очков умения, которое может набрать персонаж, равно 299.
</p>
{% endblock %}