{% extends 'main.html' %}

{% block ob_zonu %}
<div class="headtext">XI. Зоны PVP и noPVP, грабёж и убийство игроков.</div>
<p>
Убивать игроков возможно практически в любой точке карты. Грабить можно только в PVP-зонах, т.е. на загородных неохраняемых территориях.
Откройте карту (латинская <a>M</a> на клавиатуре), нажмите на &laquo;Зоны PVP&raquo; и посмотрите на цветовые сектора.
Ограбить Вас не могут только в красных, охраняемых секторах.
На остальной карте у Вас могут вытянуть из рюкзака <i>&laquo;лут&raquo;</i>: расходный материал, который выпадает из &laquo;мобов&raquo;.
Броню, оружие, медикаменты, боеприпасы, деньги у Вас забрать не могут нигде. Только если сами не отдадите.
<br><br>
Важно знать, что если основной урон Вам был нанесён мобами, а не игроком, то снять лут с Вас не смогут.
<br><br>
Также существует ограничение по уровню для снятия лута, если Вас убил игрок на 4 и более уровня старше, то Ваш лут он не получит.
<br><br>
Особое место занимают зоны &laquo;Full Drop&raquo;, они помечены на карте зеленым цветом и также это практически все территории для высоких уровней.
На этих территориях &laquo;облутать&raquo; можно любого игрока вне зависимости от разницы в уровнях.
<br><br>
По закону – защищаться от нападения Вы можете в любой точке карты.
Если на Вас постоянно нападает персонаж намного превосходящий Вас по уровню – можно пожаловаться сотрудникам Особого Комитета,
как в игре, так и в <a href ="http://forum.unit-online.ru/forum/13" target="_blank">соответствующем разделе форума</a>.
<br><br>
Убийство высокоуровневым игроком низкоуровневого как таковое не запрещено,
но за каждый выстрел по игроку ниже вас на 4 уровня у Вас накапливаются очки &laquo;Социальной Опасности&raquo;
(дебафф снижающий лечение и коэффициент брони).
Если же низкоуровневый игрок атакует высокоуровневого, то получит временный дебафф &laquo;Провокатор&raquo;,
позволяющий противнику убить его без накопления &laquo;Социальной опасности&raquo;.
<br><br>
Территории для новичков:
</p>

<ul>
    <li><b>Городская свалка (x750:y300)</b><br><br>Здесь легче всего научиться стрелять или бить, потому что обучение будет происходить на собачках. С собачек можно срезать уши.<br><br></li>
    <li><b>Шабаны (x400:y300)</b><br><br>Здесь уже более опытные новички режут и стреляют мародёров. С мародёров можно снимать приличный лут для продажи.<br><br></li>
    <li><b>Окрестности деревни Большие Комары (x239:y1102)</b><br><br>К этому месту Вас приведёт выполнение квестов.<br><br></li>
</ul>
{% endblock %}