{% extends 'main.html' %}

{% block info %}
    <script>document.title = 'Об игре';</script>
    <h1 align="center">Об игре</h1>
    <h4 style="position: relative; float: left; margin-left: 15px;"> u.n.i.t. online </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> Постапокалепсис </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> unit online </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> online game </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> игра </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> онлайн игра </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> юнит </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> изометрия </h4>
    <h4 style="position: relative; float: left; margin-left: 15px;"> fallout </h4>

    <br><br><br>
    <p>Постапокалептичиская онлайн игра .</p>
    <p>Игра создана по мотивам всеми любимого fallout , fallout 2 .</p>
    <p>Действия происходят на очень большой карте , в мире где царит мать анархия .</p>
    <p>Очень много кровопротия .</p>
    <p>В игре существует 4 класса оружия: Лёгкое оружие, Тяжелое оружие, Энергетическое оружие, Ближний Бой .</p>
    <p>У каждого класса есть несколько видов оружия на уровень.</p>
    <p>Одно оружие предназначено для фарма(копки), другое орижые предназначено для войны(PVP-пострелушок).</p>
    <p>Оружие для фарма стоит в ремонте дешевлее, патроны дешевлее, урон поменьше.</p>
    <p>Оружие для войны наносит больше урон, в ремонте оно дороже и патроны на него дороже.</p>
    <p>Так же в игре(в игровом мире) есть Мирные умения.</p>
    <p>Их 4 штуки, Доктор, Торговец, Инженер, Добытчик</p>
    <br>
    <a href="https://vk.com/teran.unit" target="_blank"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Vk-icon.png" width="25px"></a>
{% endblock %}