{% extends 'main.html' %}

{% block news %}
    <script>document.title = 'Новости';</script>
    <h2>Новости</h2>
    <div id="zaza"></div>
    <script type='text/javascript' src='http://unit-api-services.com/api/events.js'></script>
    <script>var element_id='zaza'</script>
    <div class="pr"></div>
    <div class="headtext"><h2>Помоги развитию сайта!</h2></div>
    <div class="textdata">30 январь 2017</div>
    <br>
    <h3 align="left">Помоги развитию сайта, предлагай что можно добавить, подкоректировать, какая на твой счет полезная информация
        должна быть на этом сайте.</h3>
    <h3>Все ваши предложения и пожелания вы можете оставить здесь
        " <a href="http://forum.unit-online.ru/topic/188953" target="_blank">http://forum.unit-online.ru</a> "</h3>
    <h3>Или здесь " <a href="https://vk.com/teran.unit" target="_blank">Группа Вконтакте</a> "</h3>
    <h3>Ждем!)</h3>
    <br>
    <div class="pr"></div>
    <div class="headtext">7летие и Анархия!</div>
    <div class="textdata">17 июня 2016</div>
    <div>
	<img alt="" src="http://unit-online.ru/static/upload/news/2012/7%20years.png" style="width: 120px; height: 120px; float: right; margin: 5px;" />Всем привет, хорошего настроения и бодрости духа!</div>
<div>
	&nbsp;</div>
<div>
	Новостей у нас сегодня много, но начнём мы с самой приятной.</div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#daa520;">Проекту &ldquo;UNIT-online&rdquo; исполняется семь лет! Гип-гип ура! Администрация от всего сердца поздравляет игроков с этим славным днём. Желаем Вам, уважаемые игроки, крепкого здоровья, творческих успехов и счастья в личной жизни. Мы искренне благодарны, что Вы наслаждаетесь плодами наших трудов, и надеемся, что больше радовали Вас, чем огорчали. Спасибо за то, что Вы с нами все эти годы!</span></div>
<div>
	В честь знаменательного события, Администрация дарит скромный презент всем персонажам, начиная с 3-го уровня! А для тех, кто принимал деятельное участие в определении дальнейшей судьбы проекта, мы припасли особый подарок в инфо персонажа.&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	Так же, как большинство из Вас помнит, с сегодняшнего дня в истории любимого всеми нами Нижнеатомска начнется новая глава. В связи с чем официальное заявление от группы Анархистов.</div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#8b4513;"><em>&ldquo;Администрация Нижнеатомска и командование Нижнеатомским военным округом доказали свою неспособность поддерживать порядок и организовывать достойную жизнь гражданам. Высшим руководством и приближенной хунтой было допущено молчаливое попустительво вредоносной деятельности врагов народа, а так же разбазаривание народных средств и дискриминация по классовому признаку.</em></span></div>
<div>
	<span style="color:#8b4513;"><em>Мы отбираем у них власть и передаём в руки народа!</em></span></div>
<div>
	<span style="color:#8b4513;"><em>Горсовет упраздняется. Высшие чины Нижнеатомского военного округа отстраняются от командования. Сотрудники Особого Комитета расстре&hellip; сняты со своих должностей. Больше никакой диктатуры продажных политиканов! Никаких надуманных правил и нелепых законов! Мы вступаем в новую эру - Свободы и Равенства!&rdquo;</em></span></div>
<div>
	&nbsp;</div>
<div>
	Теперь об озвученном ранее и новых фичах, приехавших в обновлении.</div>
<div>
	&nbsp;</div>
<p>
	<img alt="" src="http://unit-online.ru/static/upload/news/2012/attention.png" style="width: 100px; height: 100px; margin: 5px; float: left;" /></p>
<div>
	1. Амнистия для большинства персонажей, за исключением нескольких особо злостных багоюзеров.</div>
<div>
	&nbsp;</div>
<div>
	2. Больше никаких наказаний за мультоводство, ассоциальное поведение или &ldquo;неспортивную прокачку&rdquo;. Никакой модерации внутриигрового чата. Канал &ldquo;Общий&rdquo; отныне можно отключать.</div>
<div>
	&nbsp;</div>
<div>
	3. Прекращается регистрация новых кланов. Не принимаются жалобы на мошенничество при торговых операциях. Не восстанавливается доступ к персонажу в случае передачи пароля третьим лицам. Будьте бдительны и осторожны! &nbsp;</div>
<div>
	&nbsp;</div>
<div>
	4. С форума удалено часть разделов, в которых более нет нужды. Модерацией форума будут заниматься члены игрового клана Особый Комитет. Превратить форум в помойку не получится. В игре общайтесь как угодно, но на форуме будет порядок.</div>
<div>
	&nbsp;</div>
<div>
	5. В &ldquo;Кредитном магазине&rdquo; все цены снижены вдвое. Добавлен раздел &ldquo;Разное&rdquo;, куда прилетели модифицированные виды вооружений, а так же перенесены Локатор и Салюты. В связи с тем, что подарков с наполнением более не планируется, мы решили предоставить доступ к mod-ам через &ldquo;кредитный магазин&rdquo;.</div>
<div>
	&nbsp;</div>
<div>
	6. Стоимость покупки и аренды ячеек отныне равно нулю.&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	7. Обыкновенным торговцам увеличены объёмы товаров и расходки в продажу.</div>
<div>
	&nbsp;</div>
<div>
	8. В &ldquo;Жетонный магазин&rdquo; завезена новая &ldquo;Анклав&rdquo; броня, которая потребует звание Старший лейтенант.</div>
<div>
	&nbsp;</div>
<div>
	upd.</div>
<div>
	Небольшая доработка. Отныне персонажи, которых Вы добавили в список игнорируемых, не смогут отправить Вам подарок. Это раз. Два - Вы можете включить в &ldquo;Настройках&rdquo; скрытие сообщений игроков из вашего списка игнорируемых в различных каналах чата. И три - добавлен &ldquo;откат&rdquo; на отправку подарков в 30 секунд.</div>
<div>
	&nbsp;</div>
<div>
	Апокалипсис наступил вчера.</div>
<div>
	Добро пожаловать в Постапокалипсис.</div>
<div>
	&nbsp;</div>
<div>
	Администрация.</div>
<div>
	&nbsp;</div>

    <div class="pr"></div>
{% endblock %}