{% extends 'main.html' %}
{% load staticfiles %}
{% block o_nas %}
    <script>document.title = 'О нас';</script>
    <h2>О нас</h2>
    <div class="pr"></div>
    <div align="left">
    <h1>Клан был удален 10.12.2014</h1>
    <strong>Клан удалили по причине что наша идеология и помыслы не вливаются в игровой процесс.</strong>
    <img src="{% static 'img/clan/getimg.jpg' %}" height="516" width="760">
    <p><br>Мы нейтральны, первыми не стреляем.<br> 
    Заводы и локации это не наше.<br>
    За славой не гонимся.<br> 
    Мы уравновешены</p>
    <h3>Наша Цель</h3>
    <p>1. Помощь мелким игрокам</p>
    <p>2. Наставить на путь истинный еще с маленьких уровней</p>
    </div>
{% endblock %}