{% extends 'main.html' %}

{% block rem_or_zv %}
    <script>document.title = 'Ремонт звёздочного оружия';</script>
    <h2>Ремонт звёздочного оружия</h2>
    <div class="pr"></div>
<div align="left">
<table border="2">
	<tr>
		<td>Оружие</td>
		<td>Fix Pack</td>
	</tr>
	<tr>
		<td>*Факел</td>
		<td>20шт</td>
	</tr>
	<tr>
		<td>*Скотобой</td>
		<td>3шт</td>
	</tr>
	<tr>
		<td>*Секатор</td>
		<td>7шт</td>
	</tr>
	<tr>
		<td>*С.П. Пионер</td>
		<td>3шт</td>
	</tr>
	<tr>
		<td>*РПК</td>
		<td>8шт</td>
	</tr>
	<tr>
		<td>*Пневмоцентрал</td>
		<td>40шт</td>
	</tr>
	<tr>
		<td>*ПКМ</td>
		<td>5шт</td>
	</tr>
	<tr>
		<td>*ОП Рокот</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Неон</td>
		<td>20шт</td>
	</tr>
	<tr>
		<td>*Маринер</td>
		<td>12шт</td>
	</tr>
	<tr>
		<td>*Магнит</td>
		<td>7шт</td>
	</tr>
	<tr>
		<td>*Лопата сапёрная</td>
		<td>7шт</td>
	</tr>
	<tr>
		<td>*ЛВ Луч</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Кирка</td>
		<td>7шт</td>
	</tr>
	<tr>
		<td>*Игла</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Гидронасос</td>
		<td>7шт</td>
	</tr>
	<tr>
		<td>*Zigmund</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Targetmaster</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Steyr AUG</td>
		<td>15шт</td>
	</tr>
	<tr>
		<td>*Sig-Sauer 220</td>
		<td>6шт</td>
	</tr>
	<tr>
		<td>*Scout Tactical</td>
		<td>5шт</td>
	</tr>
	<tr>
		<td>*Royal Flash</td>
		<td>2шт</td>
	</tr>
	<tr>
		<td>*Ripper</td>
		<td>20шт</td>
	</tr>
	<tr>
		<td>*Rhino</td>
		<td>15шт</td>
	</tr>
	<tr>
		<td>*Prometheus</td>
		<td>30шт</td>
	</tr>
	<tr>
		<td>*Mono Zoom</td>
		<td>30</td>
	</tr>
	<tr>
		<td>*MGS EX-40</td>
		<td>16шт</td>
	</tr>
	<tr>
		<td>*M60</td>
		<td>3шт</td>
	</tr>
	<tr>
		<td>*L.U.P.A.</td>
		<td>3шт</td>
	</tr>
	<tr>
		<td>*Kraken</td>
		<td>16шт</td>
	</tr>
	<tr>
		<td>*FN Minimi</td>
		<td>8шт</td>
	</tr>
	<tr>
		<td>*Discharger</td>
		<td>20шт</td>
	</tr>
	<tr>
		<td>*Diamond Eagle</td>
		<td>50шт</td>
	</tr>
	<tr>
		<td>*Desert Eagle</td>
		<td>12шт</td>
	</tr>
	<tr>
		<td>*Delmor</td>
		<td>8шт</td>
	</tr>
	<tr>
		<td>*Beretta CX4</td>
		<td>6шт</td>
	</tr>
	<tr>
		<td>*Benelli M3</td>
		<td>10шт</td>
	</tr>
	<tr>
		<td>*Atomizer</td>
		<td>20шт</td>
	</tr>
	<tr>
		<td>*ALPHA нож</td>
		<td>2шт</td>
	</tr>
	<tr>
		<td>*.Magnum PRO</td>
		<td>20шт</td>
	</tr>

</table>
</div>
{% endblock %}