{% extends 'main.html' %}

{% block torgovetsinfo %}
    <script>document.title = 'Умение торговец';</script>
    <h2 align="center">Умение Торговец</h2>
    <br>
    <p>Считается одним из самых легких в прокачке "Мирных умений"</p>
    <br>
    <table border="1" align="center">
        <tr>
            <td align="center" style="padding: 2px;" rowspan="2"> Имя </td>
            <td align="center" style="padding: 2px;" colspan="23"> Умения </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> 51 </td>
            <td align="center" style="padding: 2px;"> 60 </td>
            <td align="center" style="padding: 2px;"> 70 </td>
            <td align="center" style="padding: 2px;"> 80 </td>
            <td align="center" style="padding: 2px;"> 90 </td>
            <td align="center" style="padding: 2px;"> 100 </td>
            <td align="center" style="padding: 2px;"> 110 </td>
            <td align="center" style="padding: 2px;"> 120 </td>
            <td align="center" style="padding: 2px;"> 123 </td>
            <td align="center" style="padding: 2px;"> 140 </td>
            <td align="center" style="padding: 2px;"> 146 </td>
            <td align="center" style="padding: 2px;"> 160 </td>
            <td align="center" style="padding: 2px;"> 170 </td>
            <td align="center" style="padding: 2px;"> 180 </td>
            <td align="center" style="padding: 2px;"> 190 </td>
            <td align="center" style="padding: 2px;"> 200 </td>
            <td align="center" style="padding: 2px;"> 202 </td>
            <td align="center" style="padding: 2px;"> 220 </td>
            <td align="center" style="padding: 2px;"> 222 </td>
            <td align="center" style="padding: 2px;"> 240 </td>
            <td align="center" style="padding: 2px;"> 250 </td>
            <td align="center" style="padding: 2px;"> 252 </td>
            <td align="center" style="padding: 2px;"> 270+ </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> 7.62 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="9"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Тетя Зина </td>
            <td align="center" style="padding: 2px;" colspan="2"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="9"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Герхард "Немец" </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Зульфия </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Добрыня </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Вано </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="7"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Грайвер </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="7"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Адам Блюхер </td>
            <td align="center" style="padding: 2px;" colspan="4"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="7"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Бармен Серж </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="15"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Торговец 202 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="15"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Торговец 201 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="15"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Механик Слава </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="15"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Сизый Нос </td>
            <td align="center" style="padding: 2px;" colspan="6"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Юля "Витаминка" </td>
            <td align="center" style="padding: 2px;" colspan="1"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Шамаль "Зелус" Мгето </td>
            <td align="center" style="padding: 2px;" colspan="1"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Темучин </td>
            <td align="center" style="padding: 2px;" colspan="1"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Перекупщик </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="1"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Спекулянт </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="1"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Аптекарь </td>
            <td align="center" style="padding: 2px;" colspan="3"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="8"> 1,1 </td>
        </tr>
        <tr>
            <td align="center" style="padding: 2px;"> Лидия Троцкая </td>
            <td align="center" style="padding: 2px;" colspan="2"> 2,2 </td>
            <td align="center" style="padding: 2px;" colspan="5"> 2,0 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,8 </td>
            <td align="center" style="padding: 2px;" colspan="2"> 1,6 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,4 </td>
            <td align="center" style="padding: 2px;" colspan="3"> 1,2 </td>
            <td align="center" style="padding: 2px;" colspan="4"> 1,1 </td>
        </tr>
    </table>
{% endblock %}